.box{
    border: 1px solid black;
    margin-top: 28px;
    margin-left: 0px;
    width: 368px;
}

.profilebox{
    border: 1px solid black;
    width: 367px;
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;

    .profilebox-image{

        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
    }
}
