.box{
    margin-top: 28px;
    margin-left: 0px;
    width: 368px;
}

.profilebox{
    width: 367px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;

    .profilebox-image{

        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
    }
}

.asidebar_main{
    margin-top : 20px;
    margin-left: 42px;
}
.asidebar_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}