.main{
    display: flex;
}

.menu{
    flex: 1;
    top: 30px;
    position: sticky;
    border-right: 0.5px solid lightgray;
    @media (max-width: 1260px) {
        flex:0.3;
      }
}

.feed{
    flex:3;
}

.story{
    width: 470px;
    height: 97px;
    margin-top: 10px;
    border: 1px solid black;
}

.post{
}

.aside{
    flex:2;
}