.main{
    display: flex;
}

.menu{
    flex: 1;
    border-left: 1px solid black;
    @media (max-width: 1260px) {
        flex:0.3;
      }
}

.feed{
    flex:3;
    border: 1px solid black;
}

.story{
    width: 470px;
    height: 97px;
    margin-top: 10px;
    border: 1px solid black;
}

.post{
}

.aside{
    flex:2;
    border: 1px solid black;
}