li{
    list-style: none;
    padding-left: 30px;
    margin-top: 30px;
}

button{
    border: none;
    margin-top: 10px;
}

.homeicon{
    font-size: 23px;
}
.searchicon{
    font-size: 23px;
}
.compassicon{
    font-size: 23px;
}
.planeicon{
    font-size: 23px;
}
.hearticon{
    font-size: 23px;
}
.addicon{
    font-size: 23px;
}
.profileicon{
    font-size: 23px;
}
.extraicon{
    margin-top: 400px;
    font-size: 23px;
}

.text{

    padding-left: 7px;
    font-size: 18px;
    
    @media (max-width: 1260px) {
        display: none;
      }
}