.postlist{
    border: 1px solid lightgray;
    border-radius: 10px;
    width : 470px;
    height: 877px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar{
    border: 0.5px solid black;
    width : 470px;
    height: 56px;
}

.img{
    width : 470px;
    height: 587.5px;
}