.postlist{
    border: 1px solid lightgray;
    border-radius: 10px;
    width : 470px;
    height: 877px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar{
    display: flex;
    flex-direction: row;
    width : 470px;
    height: 56px;
    align-items: left;
}

.navbar_m{
    width: 200px;
    height: 30px;
    margin-top: 13px;
    margin-right: 210px;

}
.navbar_name{
    font-size: 17px;
}
.navbar_location{
    font-size: 13px;
}
.navbar_img{
    margin-top: 15px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 30px;
}

.img{
    width : 470px;
    height: 587.5px;
}